@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie App!</h1>
    <p>Use this app to keep track of your favorite movies.</p>
    <p>Click <a asp-area="" asp-controller="Movies" asp-action="Index">here</a> to view your movies.</p>
</div>
